<!DOCTYPE html>
<html>
<head>
 <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <!-- Listing 7.1 -->
  <%= render 'layouts/header' %>
  <div class="container">
      <!-- Listing 7.27 -->
      <% flash.each do |key, value| %>
      <!-- Listing 7.33 <div class="alert alert-<%= key %>"><%= value %></div> -->
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <!-- end Listing 7.27 -->
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
  </div> <!-- eof container-->
  <!-- end Listing 7.1 -->
</body>
</html>
